  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebLab-Students | {{ page.title }}</title>

  <!-- bootstrap core css -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Sticky footer styles -->
  <link href="css/sticky-footer-navbar.css" rel="stylesheet">

  <!-- attempts to override bootstrapp css -->
  <!-- <link href="css/style.css" rel="stylesheet"> -->